/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.page-footer {
  /* position: fixed; */
  width: 100%;
  /* left: 0; */
  /* bottom: 0; */
  text-align: center;
}




/* SIDEBAR */

.wrapper {
  display: flex;
}

.divPrincipal {
  /* background-color: rgb(196, 87, 87); */
  flex: 0.9;
}

.sideBar {
  background-color: #086ceee5;
  text-align: center;
  color: white;
  flex: 0.1;
  height: 92vh;
  box-shadow: 0 0 3px black;
}

.sideBar-li {
  margin-bottom: 10px;
}

.sideBar ul li a {
  color: white;
  margin-bottom: 50px;
  /* background-color: red; */
  font-size: 20px;
  margin-bottom: 50cm;
}


/* imagem quantidade emails */

.img-emails {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  pointer-events: none;
}


/* Botao-email */

.botao-email {
  margin: 1cm auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* box-resultado */
.box-resultado{
  border-style: dotted;
}

.fundo_vermelho{
  background-color: rgb(235, 182, 161);
}

.fundo_verde{
  background-color: rgb(176, 224, 176);
}


/* botao-sidebar */
#show-services{
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 20px;

  /* background: none;
  border: none;
  padding: 0;
  font: inherit;
   */
  /* margin-bottom: 50px; */
  /* font-size: 20px; */
  /* margin-bottom: 50cm; */
}

.botao-servicos{
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}


.botao-voltar{
  cursor: pointer;
  background: none;
  border: none;
  color: #039be5;
  font-size: 18px;
}

/* Input-cadastro */

.color-input{
  color: rgb(7,7,7);
}